.container {
  background-color: #f8f9fa;
  border-radius: 12px;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 25px;
  filter: drop-shadow(4px 4px 4px rgba(55%, 55%, 55%, 0.6));
  box-shadow: 0 0 20px hsl(0deg 0% 55% / 50%);
}
