.content {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.card {
  transition: ease-out 1s;
  background-color: whitesmoke;
}

.card.active {
  background-color: rgb(104, 211, 90);
  transition: ease-out 1s;
}

.close {
  border: 0;
  border-radius: 4px;
  background-color: inherit;
}

.check {
  margin-bottom: 0 !important;
}
